/* General Styles for Login Form */
.login-form {
    background-color: #1e1e1e; /* Dark background */
    color: #ffffff; /* Light text for contrast */
    font-family: Arial, sans-serif;
    padding: 20px;
    border-radius: 8px;
    width: 300px; /* Adjust the width as needed */
    margin-top: 100px; /* Center the form on the page */
    box-shadow: violet 1px 1px 10px 1px;
}

.login-form h2 {
    color: #4a76a8; /* Stylish color for the header */
    text-align: center;
    margin-bottom: 20px;
}

.login-form label {
    margin-bottom: 5px;
    display: block; /* Ensures the label is on a new line */
}

.login-form input {
    width: 100%; /* Full width of the form */
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 4px;
    border: 1px solid #333333;
    background-color: #262626;
    color: white;
}

.login-form button {
    background-color: #4a76a8;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
}

.login-form button:hover {
    background-color: #5a86b8;
}
